.map-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.fake-navbar {
  width: 100%;
  height: 84px;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  z-index: 1000;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}